@import "variables";

body {
    font-family: $fontBase;
    padding-top: 55px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 1.8em;
    line-height: 1.2em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.loader {
    width: 32px;
    height: 32px;
    background: url('../images/preloader.gif');
    position: absolute;
    top: 42.5%;
    left: 42.5%;
}

footer {
    width: 100%;
    float: left;
}