<script id="pin-template" type="x-tmpl-mustache">
    <div class="pin">
        <div class="card {{category}} {{type}}">
            <h5 class="card-header">{{title}}</h5>
            <div class="card-body">
                <p class="card-text">{{description}}</p>
            </div>
            <div class="card-body star-rating">
                <a data-star="1" href="#"></a>
                <a data-star="2" href="#"></a>
                <a data-star="3" href="#"></a>
                <a data-star="4" href="#"></a>
                <a data-star="5" href="#"></a>
            </div>
        </div>
    </div>
</script>